//
// Carousel QuantumUI styles
// --------------------------------------------------

.carousel {
  position: relative;
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
}
.carousel-control{
    cursor:pointer;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;

  > .item {
    position: absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    &.ng-animate[class*="-remove"]{
        position:absolute !important;
        top:0;
    }
  }

}

.carousel-indicators {
  li {
    text-indent: -9999px;
    img{
        width:100%;
        height:100%;
    }
  }
}

.carousel-title{
    position: absolute;
    left:0;
    right:0;
    top:0;
    height:45px;
    line-height:45px;
    white-space:nowrap;
    overflow:hidden;
    font-size:22px;
    font-weight:bold;
    margin:0;
    padding-left:20px;
    color: #ffffff !important;
    background:rgba(0,0,0, 0.4)
}

/*number navigation*/
.carousel.number-navigation,
.carousel.thumb-navigation {
    padding:2px;
    padding-bottom:30px;
    border: 1px solid $carousel-indicator-thumb-border-color;
    border-radius:4px;
   .carousel-indicators {
      bottom: 0;
      left: 0;
      z-index: 91;
      width: 100%;
      padding: 2px;
      margin: 0;
      background-color:$carousel-indicator-thumb-bg;
      @include gradient_vertical($start-color: tint($carousel-indicator-thumb-bg, 4%), $end-color: $carousel-indicator-thumb-bg,);
      
        > li{
            width: 30px;
            height: 30px;
            margin: 0;
            padding:1px;
            background-origin:content-box;
            text-indent: 0;
            border-radius:4px;
            opacity:0.4;
            @include gradient_elipse($inner-color: tint($carousel-indicator-thumb-bg, 4%), $outer-color: shade($carousel-indicator-thumb-bg, 6%),);
       }
        .active {
            opacity:1;
         }
       
   }
    .indicator-no {
        display:block;
        font-size:16px;
        font-weight:bold;
        line-height:30px;
        color:$carousel-indicator-thumb-color;
    }
    .carousel-caption {
        right: 0;
        bottom: 0;
        left: 0;
        color: #ffffff;
        text-align: justify;
        padding:10px;
        border-top: 1px solid $carousel-indicator-thumb-border-color;
        background-color:rgba($carousel-caption-bg, 50%/100.0%);
    }
}

/*thumb navigation*/
.carousel.thumb-navigation {
    padding-bottom:5px;
    .carousel-indicators {
      overflow:hidden;
      height:56px;
      padding:0;
      padding-top:3px;
      > li{
          width: 70px;
          height: 50px;
          margin: 0;
          margin-bottom:0;
          text-indent: 0;
          border-radius:0;
          opacity:0.6;
          border:0;
          padding:3px;
          span{
              display:block;
              line-height:46px;
              text-align:center;
          }
          canvas{
              display:block;
              width:100%;
              height:100%;
          }
      }
    }
    .indicator-no {
        display:block;
    }
    .carousel-caption {
      bottom: 50px;
      color: #ffffff;
    }
  
    &.show-page-butons:hover{
       .carousel-page-control{
           &.page-left,
           &.page-right{
               display:block;
           }
           &.page-all{
               right:32px; 
           }
        }
    }
    &.all-thumbs-button:hover{
       .carousel-page-control{
           &.page-all{
               display:block;
           }
        }
    }
    &.shown-all-thumbs,
    &.shown-all-thumbs:hover{
        padding-bottom:0;
        .carousel-page-control{
           display:none !important;
        }
        .carousel-indicators {
          overflow:auto;
          height:auto;
          max-height:216px;
          position:relative;
          > li{
              width: 52px !important;
              display:inline-block !important;
          }
        }
    }
}
.carousel-page-control{
        position:absolute;
        display:none;
        bottom:0;
        height:54px;
        line-height:53px;
        text-align:center;
        width:30px;
        cursor:pointer;
        z-index:92;
        border:1px solid darken($carousel-indicator-thumb-border-color, 10%);
        background-color:darken($carousel-indicator-thumb-border-color, 3%);
       @include gradient_radial($inner-color: tint($carousel-indicator-thumb-border-color, 4%), $outer-color: darken($carousel-indicator-thumb-border-color, 30%),);

       &.page-left{
           left:0;
           font-size:1.667em;
       }
       &.page-right{
           right:0;
           font-size:1.667em;
       }
       &.page-all{
           width:54px;
           right:0;
           padding-top:12px;
           line-height:10px;
           > *{
               display:block;
           }
           .page-all-total{
               font-weight:bold;
           }
       }
    }

.carousel-zoom{
    .zoom-item{
        cursor:zoom-in;
    }
}
@media (max-width: $screen-xs-max) {

  .carousel-caption {
    left: 10%;
    right: 10%;
    bottom:0;
    padding-bottom: 0;
    font-size:0.6em;
    h4{
        font-size:12px;
    }
  }
}