//
// QuantumUI Variables
// You must import bootstrap variabled 
// --------------------------------------------------


//== Import Bootstap variables
//
//## Import Bootstap variables

@import '../../wwwroot/lib/bootstrap/less/variables';

//** Load fonts from this directory.
$icon-font-path:          "../../wwwroot/lib/bootstrap/fonts/" !default;

//== Colors
//
//## Skin and brand colors for use across QuantumUI Bootstrap Skin.

$skin-base-color:                  $gray-light !default;
$skin-base-accent:                 lighten($brand-info, 10%) !default;
$skin-base-active:                 darken($brand-warning, 10%) !default;


$skin-base-50:             tint(shade($skin-base-color, -48.5%), 97%) !default;
$skin-base-100:            tint(shade($skin-base-color, -40%), 88%) !default;
$skin-base-200:            tint(shade($skin-base-color, -30%), 60%) !default;
$skin-base-300:            tint(shade($skin-base-color, -20%), 40%) !default;
$skin-base-400:            tint(shade($skin-base-color, -10%), 20%) !default;
$skin-base-500:            $skin-base-color !default;
$skin-base-600:            shade(tint($skin-base-color, -7.5%), 15%) !default;
$skin-base-700:            shade(tint($skin-base-color, -15%), 30%) !default;
$skin-base-800:            shade(tint($skin-base-color, -22.5%), 45%) !default;
$skin-base-900:            shade(tint($skin-base-color, -33.5%), 67%) !default;
$skin-base-1000:           shade(tint($skin-base-color, -40%), 80%) !default;


$skin-accent-50:           tint(shade($skin-base-accent, -41.5%), 92%) !default;
$skin-accent-100:          tint(shade($skin-base-accent, -35%), 74%) !default;
$skin-accent-200:          tint(shade($skin-base-accent, -27%), 54%) !default;
$skin-accent-300:          tint(shade($skin-base-accent, -14%), 28%) !default;
$skin-accent-400:          $skin-base-accent !default;
$skin-accent-700:          shade(tint($skin-base-accent, -15%), 30%) !default;

$skin-active-50:           tint(shade($skin-base-active, -47.5%), 95%) !default;
$skin-active-100:          tint(shade($skin-base-active, -40%), 80%) !default;
$skin-active-200:          tint(shade($skin-base-active, -27%), 54%) !default;
$skin-active-300:          tint(shade($skin-base-active, -14%), 28%) !default;
$skin-active-400:          $skin-base-active !default;
$skin-active-700:          shade(tint($skin-base-active, -15%), 30%) !default;

$white:                   #fff !default;
$white-lighter:           darken($white, 0.6%) !default;
$white-light:             darken($white, 1.8%) !default;
$white-dark:              darken($white, 3.3%) !default;
$white-darker:            darken($white, 5.8%) !default;


//==Brand Shades
//
//## Brand colors for use across QuantumUI.

$brand-primary-darker:         shade(tint($brand-primary, -19%), 38%) !default;
$brand-primary-dark:           shade(tint($brand-primary, -9%), 18%) !default;
$brand-primary-light:          tint(shade($brand-primary, -9%), 18%) !default;
$brand-primary-lighter:        tint(shade($brand-primary, -19%), 38%) !default;

$brand-info-darker:            shade(tint($brand-info, -7.5%), 15%) !default;
$brand-info-dark:              shade(tint($brand-info, -3.75%), 7.5%) !default;
$brand-info-light:             tint(shade($brand-info, -9%), 18%) !default;
$brand-info-lighter:           tint(shade($brand-info, -19%), 38%) !default;

$brand-success-darker:         shade(tint($brand-success, -7.5%), 15%) !default;
$brand-success-dark:           shade(tint($brand-success, -3.75%), 7.5%) !default;
$brand-success-light:          tint(shade($brand-success, -9%), 18%) !default;
$brand-success-lighter:        tint(shade($brand-success, -18%), 38%) !default;

$brand-warning-darker:         shade(tint($brand-warning, -7.5%), 15%) !default;
$brand-warning-dark:           shade(tint($brand-warning, -3.75%), 7.5%) !default;
$brand-warning-light:          tint(shade($brand-warning, -9%), 18%) !default;
$brand-warning-lighter:        tint(shade($brand-warning, -19%), 38%) !default;


$brand-danger-darker:         shade(tint($brand-danger, -7.5%), 15%) !default;
$brand-danger-dark:           shade(tint($brand-danger, -3.75%), 7.5%) !default;
$brand-danger-light:          tint(shade($brand-danger, -9%), 18%) !default;
$brand-danger-lighter:        tint(shade($brand-danger, -19%), 38%) !default;
//== Scaffolding
//
//## Settings for some of the most global styles.


$font-size-largest:       21px !default;
$font-size-smallest:      ceil(($font-size-base * 0.7)) !default; // ~10px



//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).


$line-height-largest:       1.18 !default;

$border-radius-largest:     8px !default;

//** component font family.
$component-font-family:        'Glyphicons Halflings' !default;
$angle-icon:                   '\e259' !default;
$angle-up-icon:                '\e260' !default;
$tick-icon:                    '\e013' !default;
$info-icon:                    '\e086' !default;
$danger-icon:                  '\e107' !default;
$warning-icon:                 '\e101' !default;


$caret-width-large:         5px !default;





//== Dropdowns
//
//## Dropdown menu container and contents.

$dropdown-min-width:             160px !default;
$dropdown-box-shadow:            0 6px 12px rgba($skin-base-700, (2/100)) !default;
$dropdown-caret-color:           $skin-base-800 !default;

//** Background for the dropdown container.
$dropdown-container-bg:                    $skin-base-100 !default;

$dropdown-container-box-shadow:            0 5px 10px rgba($skin-base-700, (2/100)) !default;

$dropdown-container-box-shadow-top:        0 -5px 10px rgba($skin-base-700, (2/100)) !default;
//** Dropdown container `border-color`.
$dropdown-container-border:                shade($dropdown-container-bg, 5.5%) !default;

$dropdown-container-fallback-border:       shade($dropdown-container-bg, 5.5%) !default;

$dropdown-container-min-width:             170px !default;
//** Dropdown container `max-width`.
$dropdown-container-max-width:             360px !default;
$dropdown-container-header-padding:        5px 7px !default;
$dropdown-container-footer-padding:        5px 7px !default;
$dropdown-container-header-color:          $skin-base-800 !default;
$dropdown-container-footer-color:          $skin-base-800 !default;



//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-dropdown:          1040 !default;
$zindex-aside:             1040 !default;
$zindex-modal:             1050 !default;
$zindex-titip:             9999 !default;



//== Tabs
$nav-tabs-font-size:                        ($font-size-base - 1px) !default;


//== Modalbox
//
//##


$modal-box-lg:                    600px !default;
$modal-box-md:                    450px !default;
$modal-box-sm:                    250px !default;

//== Carousel
//
//##

$carousel-indicator-thumb-color:             $skin-base-800 !default;
$carousel-indicator-thumb-bg:                $skin-base-200 !default;
$carousel-indicator-thumb-border-color:      $skin-base-300 !default;

$carousel-caption-color:                     #fff !default;
$carousel-caption-bg:                        $skin-base-700 !default;

//== Scrollbar
//
//##

//** general scrollbar size.
$scrollbar-image-path:       "../../images/scrollbar" !default;
$scrollbar-size:              8px !default; 
//** page scrollbar size.
$scrollbar-page-size:         12px !default; 

$scrollbar-offset:            5px !default;

$scrollbar-color:             #fff !default;
$scrollbar-bg-color:          rgba($skin-base-300, (30/100)) !default; 
$scrollbar-button-bg-color:   rgba($skin-base-300, (50/100)) !default;
$scrollbar-hover-bg-color:    rgba($skin-base-300, (65/100)) !default; 
$scrollbar-border-color:      lighten($skin-base-300, 35%) !default; 

$scrollbar-track-border-radius:    6px !default; 
$scrollbar-track-box-shadow:       inset 0 0 6px rgba(0,0,0,0.3) !default;

$scrollbar-thumb-opacity:          0.9 !default;
$scrollbar-thumb-bg-color:         $skin-base-600 !default;
$scrollbar-thumb-border-radius:    6px !default; 
$scrollbar-thumb-box-shadow:       inset 3px 3px 9px rgba(255, 255, 255, 0.3), inset -3px -3px 9px rgba(255, 255, 255, 0.3) !default;
$scrollbar-thumb-box-shadow-hover: inset 3px 3px 9px rgba(0, 0, 0, 0.2), inset -3px -3px 9px rgba(0, 0, 0, 0.2) !default;
$scrollbar-thumb-filter-image:     radial-gradient(ellipse at center, rgba(255,255,255,0.2) 40%, rgba(0,0,0,0.1) 100%) !default;

$scrollbar-corner-bg-color:          $skin-base-100 !default;
$scrollbar-corner-border-color:      $scrollbar-corner-bg-color !default;

//** quantum scrollbar settings
$scrollbar-z-index:                9 !default;

$scrollbar-button-bg-color:        $scrollbar-thumb-bg-color !default;
$scrollbar-button-box-shadow:      1px 1px 2px 0px rgba(50, 50, 50, 0.3) !default;
$scrollbar-button-size:            $scrollbar-size !default;
$scrollbar-button-border-width:    4px !default;
$scrollbar-button-border-color:    rgba(255, 255, 255, 0.8) !default;

$scrollbar-info-bg                    : $brand-info-lighter !default;
$scrollbar-info-color                 : $brand-info-lighter !default;
$scrollbar-info-thumb-bg              : $brand-info !default;

$scrollbar-warning-bg                 : $brand-warning-lighter !default;
$scrollbar-warning-color              : $brand-warning-lighter !default;
$scrollbar-warning-thumb-bg           : $brand-warning-dark !default;

$scrollbar-danger-bg                  : $brand-danger-lighter !default;
$scrollbar-danger-color               : $brand-danger-lighter !default;
$scrollbar-danger-thumb-bg            : $brand-danger !default;

$scrollbar-success-bg                 : $brand-success-lighter !default;
$scrollbar-success-color              : $brand-success-lighter !default;
$scrollbar-success-thumb-bg           : $brand-success !default;

//== with-arrow Utils
//
//##
$with-arrow-border-width:           10px !default;
$with-arrow-margin:                 $with-arrow-border-width !default;
$with-arrow-offset:                 $with-arrow-border-width !default;
$with-arrow-top-box-shadow:         0 -6px 12px rgba(0, 0, 0, 0.175) !default;

$with-arrow-border-inner-color:    #fff !default;
$with-arrow-border-outer-color:    #fff !default;

//== titip pure CSS tooltip
//
//##
$titip-tringle-width:               8px !default;
$titip-bg:                          $skin-base-600 !default;
$titip-border-color:                $skin-base-700 !default;
$titip-color:                       $skin-base-100 !default;
$titip-padding:                     6px 9px 7px !default;
$titip-font-size:                   13px !default;
$titip-line-height:                 13px !default;
$titip-radius:                      $border-radius-base !default;
$titip-box-shadow:                  1px 1px 7px 0px rgba(50, 50, 50, 0.09) !default;

//== input[type="range"] IE10+ and nq-range-slider
//
//##
$range-height:                      6px !default;
$range-bg:                          $skin-base-50 !default;
$range-selection-bg:                $skin-base-400 !default;
$range-thumb-border:                $skin-base-500 !default;
$range-ticks-color:                 $skin-base-800 !default;
$range-ticks-border-color:          $skin-base-100 !default;
$range-values-font-size:            11px !default;
$range-thumb-width:                 10px !default;
$range-thumb-height:                20px !default;

$range-box-shadow:                  inset 0 1px 2px rgba(0, 0, 0, 0.2) !default;
$range-box-shadow-horizontal:       inset 0 -1px 2px rgba(0, 0, 0, 0.1) !default;
$range-thumb-box-shadow:            inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05) !default;

$range-height-xs:                   4px !default;
$range-thumb-width-xs:              8px !default;
$range-thumb-height-xs:             16px !default;
$range-height-md:                   10px !default;
$range-thumb-width-md:              14px !default;
$range-thumb-height-md:             24px !default;
$range-height-lg:                   14px !default;
$range-thumb-width-lg:              18px !default;
$range-thumb-height-lg:             28px !default;
$range-slider-size:                 210px !default;
$range-ticks-size:                  12px !default;

$range-primary-bg:                 $brand-primary-lighter !default;
$range-primary-selection-bg:       $brand-primary !default;
$range-primary-border:             $brand-primary-dark !default;

$range-success-bg:                 $state-success-bg !default;
$range-success-selection-bg:       $brand-success !default;
$range-success-border:             $brand-success-dark !default;


$range-info-bg:                    $state-info-bg !default;
$range-info-selection-bg:          $brand-info !default;
$range-info-border:                $brand-info-dark !default;

$range-warning-bg:                 $state-warning-bg !default;
$range-warning-selection-bg:       $brand-warning !default;
$range-warning-border:             $brand-warning-dark !default;

$range-danger-bg:                  $state-danger-bg !default;
$range-danger-selection-bg:        $brand-danger !default;
$range-danger-border:              $brand-danger-dark !default;

//== calendars, datepicker, datetimepicker
//
//##
$cal-panel-bg:                      #fff !default;
$cal-panel-z-index:                 $listbox-z-index !default;
$cal-panel-border-color:            $skin-base-100 !default;
$cal-panel-color:                   $skin-base-900 !default;
$cal-active-bg:                     $skin-base-active !default;
$cal-active-color:                  #fff !default;
$cal-hover-bg:                      $skin-base-700 !default;
$cal-hover-color:                   #fff !default;
$cal-panel-padding:                 3px !default;
$cal-panel-radius:                  $border-radius-base !default;
$cal-panel-max-width:               270px !default;
$cal-panel-font:                    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif !default;

//cal-table
$cal-table-bg:                      $skin-base-50 !default;
$cal-table-color:                   $cal-panel-color !default;
$cal-table-border-color:            $cal-panel-border-color !default;
$cal-table-header-size:             25px !default;

$cal-table-cell-size:               30px !default;
$cal-table-cell-color:              lighten($cal-panel-color, 12%) !default;
$cal-table-cell-hover-color:        #fff !default;
$cal-table-cell-hover-bg:           $cal-hover-bg !default;
//== aside
//
//##
$aside-bg:                          $skin-base-700 !default;
$aside-overlay-bg:                  #fff !default;
$aside-color:                       $skin-base-400 !default;
$aside-width:                       220px !default;
$aside-collapsed-width:             60px !default;
$aside-font:                       "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif !default;
$aside-header-height:               35px !default;
$aside-footer-height:               35px !default;
$aside-transition-duration:         0.2s !default;
/*aside menu*/
$aside-menu-color:                  $skin-base-400 !default;
$aside-menu-link-height:            40px !default;

$aside-default-bg:                          $skin-base-100 !default;
$aside-default-overlay-bg:                  $skin-base-600 !default;
$aside-default-color:                       $skin-base-1000 !default;
$aside-default-menu-color:                  $skin-base-1000 !default;



//== listbox(select)
//
//##
$listbox-max-height:                 180px !default;
$listbox-max-width:                  350px !default;
$listbox-color:                      $skin-base-800 !default;
$listbox-bg:                         #fff !default;
$listbox-border-color:               $skin-base-100 !default;
$listbox-font-size:                  ($font-size-base - 1px) !default;
$listbox-border-radius:              $border-radius-base !default;
$listbox-z-index:                    $zindex-dropdown !default;
$listbox-option-hover-bg:            $skin-accent-100 !default;
$listbox-option-hover-color:         $skin-accent-700 !default;
$listbox-option-active-bg:           $skin-base-active !default;
$listbox-option-active-color:        #fff !default;
$listbox-highlight-color:            $skin-base-active !default;

