//
// QuantumUI Variables
// You must import bootstrap variabled 
// --------------------------------------------------


//== Import Bootstap variables
//
//## Import Bootstap variables

@import "../../bower_components/bootstrap/less/variables.less";

//** Load fonts from this directory.
@icon-font-path:          "../../bower_components/bootstrap/fonts/";

//== Colors
//
//## Skin and brand colors for use across QuantumUI Bootstrap Skin.

@skin-base-color:                  @gray-light;
@skin-base-accent:                 lighten(@brand-info, 10%);
@skin-base-active:                 darken(@brand-warning, 10%);


@skin-base-50:             tint(shade(@skin-base-color, -48.5%), 97%);
@skin-base-100:            tint(shade(@skin-base-color, -40%), 88%);
@skin-base-200:            tint(shade(@skin-base-color, -30%), 60%);
@skin-base-300:            tint(shade(@skin-base-color, -20%), 40%);
@skin-base-400:            tint(shade(@skin-base-color, -10%), 20%);
@skin-base-500:            @skin-base-color;
@skin-base-600:            shade(tint(@skin-base-color, -7.5%), 15%);
@skin-base-700:            shade(tint(@skin-base-color, -15%), 30%);
@skin-base-800:            shade(tint(@skin-base-color, -22.5%), 45%);
@skin-base-900:            shade(tint(@skin-base-color, -33.5%), 67%);
@skin-base-1000:           shade(tint(@skin-base-color, -40%), 80%);


@skin-accent-50:           tint(shade(@skin-base-accent, -41.5%), 92%);
@skin-accent-100:          tint(shade(@skin-base-accent, -35%), 74%);
@skin-accent-200:          tint(shade(@skin-base-accent, -27%), 54%);
@skin-accent-300:          tint(shade(@skin-base-accent, -14%), 28%);
@skin-accent-400:          @skin-base-accent;
@skin-accent-700:          shade(tint(@skin-base-accent, -15%), 30%);

@skin-active-50:           tint(shade(@skin-base-active, -47.5%), 95%);
@skin-active-100:          tint(shade(@skin-base-active, -40%), 80%);
@skin-active-200:          tint(shade(@skin-base-active, -27%), 54%);
@skin-active-300:          tint(shade(@skin-base-active, -14%), 28%);
@skin-active-400:          @skin-base-active;
@skin-active-700:          shade(tint(@skin-base-active, -15%), 30%);

@white:                   #fff;
@white-lighter:           darken(@white, 0.6%);
@white-light:             darken(@white, 1.8%);
@white-dark:              darken(@white, 3.3%);
@white-darker:            darken(@white, 5.8%);


//==Brand Shades
//
//## Brand colors for use across QuantumUI.

@brand-primary-darker:         shade(tint(@brand-primary, -19%), 38%);
@brand-primary-dark:           shade(tint(@brand-primary, -9%), 18%);
@brand-primary-light:          tint(shade(@brand-primary, -9%), 18%);
@brand-primary-lighter:        tint(shade(@brand-primary, -19%), 38%);

@brand-info-darker:            shade(tint(@brand-info, -7.5%), 15%);
@brand-info-dark:              shade(tint(@brand-info, -3.75%), 7.5%);
@brand-info-light:             tint(shade(@brand-info, -9%), 18%);
@brand-info-lighter:           tint(shade(@brand-info, -19%), 38%);

@brand-success-darker:         shade(tint(@brand-success, -7.5%), 15%);
@brand-success-dark:           shade(tint(@brand-success, -3.75%), 7.5%);
@brand-success-light:          tint(shade(@brand-success, -9%), 18%);
@brand-success-lighter:        tint(shade(@brand-success, -18%), 38%);

@brand-warning-darker:         shade(tint(@brand-warning, -7.5%), 15%);
@brand-warning-dark:           shade(tint(@brand-warning, -3.75%), 7.5%);
@brand-warning-light:          tint(shade(@brand-warning, -9%), 18%);
@brand-warning-lighter:        tint(shade(@brand-warning, -19%), 38%);


@brand-danger-darker:         shade(tint(@brand-danger, -7.5%), 15%);
@brand-danger-dark:           shade(tint(@brand-danger, -3.75%), 7.5%);
@brand-danger-light:          tint(shade(@brand-danger, -9%), 18%);
@brand-danger-lighter:        tint(shade(@brand-danger, -19%), 38%);
//== Scaffolding
//
//## Settings for some of the most global styles.


@font-size-largest:       21px;
@font-size-smallest:      ceil((@font-size-base * 0.7)); // ~10px



//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).


@line-height-largest:       1.18;

@border-radius-largest:     8px;

//** component font family.
@component-font-family:        'Glyphicons Halflings';
@angle-icon:                   '\e259';
@angle-up-icon:                '\e260';
@tick-icon:                    '\e013';
@info-icon:                    '\e086';
@danger-icon:                  '\e107';
@warning-icon:                 '\e101';


@caret-width-large:         5px;





//== Dropdowns
//
//## Dropdown menu container and contents.

@dropdown-min-width:             160px;
@dropdown-box-shadow:            0 6px 12px fade(@skin-base-700, 2%);
@dropdown-caret-color:           @skin-base-800;

//** Background for the dropdown container.
@dropdown-container-bg:                    @skin-base-100;

@dropdown-container-box-shadow:            0 5px 10px fade(@skin-base-700, 2%);

@dropdown-container-box-shadow-top:        0 -5px 10px fade(@skin-base-700, 2%);
//** Dropdown container `border-color`.
@dropdown-container-border:                shade(@dropdown-container-bg, 5.5%);

@dropdown-container-fallback-border:       shade(@dropdown-container-bg, 5.5%);

@dropdown-container-min-width:             170px;
//** Dropdown container `max-width`.
@dropdown-container-max-width:             360px;
@dropdown-container-header-padding:        5px 7px;
@dropdown-container-footer-padding:        5px 7px;
@dropdown-container-header-color:          @skin-base-800;
@dropdown-container-footer-color:          @skin-base-800;



//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-dropdown:          1040;
@zindex-aside:             1040;
@zindex-modal:             1050;
@zindex-titip:             9999;



//== Tabs
@nav-tabs-font-size:                        (@font-size-base - 1px);


//== Modalbox
//
//##


@modal-box-lg:                    600px;
@modal-box-md:                    450px;
@modal-box-sm:                    250px;

//== Carousel
//
//##

@carousel-indicator-thumb-color:             @skin-base-800;
@carousel-indicator-thumb-bg:                @skin-base-200;
@carousel-indicator-thumb-border-color:      @skin-base-300;

@carousel-caption-color:                     #fff;
@carousel-caption-bg:                        @skin-base-700;

//== Scrollbar
//
//##

//** general scrollbar size.
@scrollbar-image-path:       "../../images/scrollbar";
@scrollbar-size:              8px; 
//** page scrollbar size.
@scrollbar-page-size:         12px; 

@scrollbar-offset:            5px;

@scrollbar-color:             #fff;
@scrollbar-bg-color:          fade(@skin-base-300, 30%); 
@scrollbar-button-bg-color:   fade(@skin-base-300, 50%);
@scrollbar-hover-bg-color:    fade(@skin-base-300, 65%); 
@scrollbar-border-color:      lighten(@skin-base-300, 35%); 

@scrollbar-track-border-radius:    6px; 
@scrollbar-track-box-shadow:       inset 0 0 6px rgba(0,0,0,0.3);

@scrollbar-thumb-opacity:          0.9;
@scrollbar-thumb-bg-color:         @skin-base-600;
@scrollbar-thumb-border-radius:    6px; 
@scrollbar-thumb-box-shadow:       inset 3px 3px 9px rgba(255, 255, 255, 0.3), inset -3px -3px 9px rgba(255, 255, 255, 0.3);
@scrollbar-thumb-box-shadow-hover: inset 3px 3px 9px rgba(0, 0, 0, 0.2), inset -3px -3px 9px rgba(0, 0, 0, 0.2);
@scrollbar-thumb-filter-image:     radial-gradient(ellipse at center, rgba(255,255,255,0.2) 40%, rgba(0,0,0,0.1) 100%);

@scrollbar-corner-bg-color:          @skin-base-100;
@scrollbar-corner-border-color:      @scrollbar-corner-bg-color;

//** quantum scrollbar settings
@scrollbar-z-index:                9;

@scrollbar-button-bg-color:        @scrollbar-thumb-bg-color;
@scrollbar-button-box-shadow:      1px 1px 2px 0px rgba(50, 50, 50, 0.3);
@scrollbar-button-size:            @scrollbar-size;
@scrollbar-button-border-width:    4px;
@scrollbar-button-border-color:    rgba(255, 255, 255, 0.8);

@scrollbar-info-bg                    : @brand-info-lighter;
@scrollbar-info-color                 : @brand-info-lighter;
@scrollbar-info-thumb-bg              : @brand-info;

@scrollbar-warning-bg                 : @brand-warning-lighter;
@scrollbar-warning-color              : @brand-warning-lighter;
@scrollbar-warning-thumb-bg           : @brand-warning-dark;

@scrollbar-danger-bg                  : @brand-danger-lighter;
@scrollbar-danger-color               : @brand-danger-lighter;
@scrollbar-danger-thumb-bg            : @brand-danger;

@scrollbar-success-bg                 : @brand-success-lighter;
@scrollbar-success-color              : @brand-success-lighter;
@scrollbar-success-thumb-bg           : @brand-success;

//== with-arrow Utils
//
//##
@with-arrow-border-width:           10px;
@with-arrow-margin:                 @with-arrow-border-width;
@with-arrow-offset:                 @with-arrow-border-width;
@with-arrow-top-box-shadow:         0 -6px 12px rgba(0, 0, 0, 0.175);

@with-arrow-border-inner-color:    #fff;
@with-arrow-border-outer-color:    #fff;

//== titip pure CSS tooltip
//
//##
@titip-tringle-width:               8px;
@titip-bg:                          @skin-base-600;
@titip-border-color:                @skin-base-700;
@titip-color:                       @skin-base-100;
@titip-padding:                     6px 9px 7px;
@titip-font-size:                   13px;
@titip-line-height:                 13px;
@titip-radius:                      @border-radius-base;
@titip-box-shadow:                  1px 1px 7px 0px rgba(50, 50, 50, 0.09);

//== input[type="range"] IE10+ and nq-range-slider
//
//##
@range-height:                      6px;
@range-bg:                          @skin-base-50;
@range-selection-bg:                @skin-base-400;
@range-thumb-border:                @skin-base-500;
@range-ticks-color:                 @skin-base-800;
@range-ticks-border-color:          @skin-base-100;
@range-values-font-size:            11px;
@range-thumb-width:                 10px;
@range-thumb-height:                20px;

@range-box-shadow:                  inset 0 1px 2px rgba(0, 0, 0, 0.2);
@range-box-shadow-horizontal:       inset 0 -1px 2px rgba(0, 0, 0, 0.1);
@range-thumb-box-shadow:            inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);

@range-height-xs:                   4px;
@range-thumb-width-xs:              8px;
@range-thumb-height-xs:             16px;
@range-height-md:                   10px;
@range-thumb-width-md:              14px;
@range-thumb-height-md:             24px;
@range-height-lg:                   14px;
@range-thumb-width-lg:              18px;
@range-thumb-height-lg:             28px;
@range-slider-size:                 210px;
@range-ticks-size:                  12px;

@range-primary-bg:                 @brand-primary-lighter;
@range-primary-selection-bg:       @brand-primary;
@range-primary-border:             @brand-primary-dark;

@range-success-bg:                 @state-success-bg;
@range-success-selection-bg:       @brand-success;
@range-success-border:             @brand-success-dark;


@range-info-bg:                    @state-info-bg;
@range-info-selection-bg:          @brand-info;
@range-info-border:                @brand-info-dark;

@range-warning-bg:                 @state-warning-bg;
@range-warning-selection-bg:       @brand-warning;
@range-warning-border:             @brand-warning-dark;

@range-danger-bg:                  @state-danger-bg;
@range-danger-selection-bg:        @brand-danger;
@range-danger-border:              @brand-danger-dark;

//== calendars, datepicker, datetimepicker
//
//##
@cal-panel-bg:                      #fff;
@cal-panel-z-index:                 @listbox-z-index;
@cal-panel-border-color:            @skin-base-100;
@cal-panel-color:                   @skin-base-900;
@cal-active-bg:                     @skin-base-active;
@cal-active-color:                  #fff;
@cal-hover-bg:                      @skin-base-700;
@cal-hover-color:                   #fff;
@cal-panel-padding:                 3px;
@cal-panel-radius:                  @border-radius-base;
@cal-panel-max-width:               270px;
@cal-panel-font:                    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;

//cal-table
@cal-table-bg:                      @skin-base-50;
@cal-table-color:                   @cal-panel-color;
@cal-table-border-color:            @cal-panel-border-color;
@cal-table-header-size:             25px;

@cal-table-cell-size:               30px;
@cal-table-cell-color:              lighten(@cal-panel-color, 12%);
@cal-table-cell-hover-color:        #fff;
@cal-table-cell-hover-bg:           @cal-hover-bg;
//== aside
//
//##
@aside-bg:                          @skin-base-700;
@aside-overlay-bg:                  #fff;
@aside-color:                       @skin-base-400;
@aside-width:                       220px;
@aside-collapsed-width:             60px;
@aside-font:                       "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
@aside-header-height:               35px;
@aside-footer-height:               35px;
@aside-transition-duration:         0.2s;
/*aside menu*/
@aside-menu-color:                  @skin-base-400;
@aside-menu-link-height:            40px;

@aside-default-bg:                          @skin-base-100;
@aside-default-overlay-bg:                  @skin-base-600;
@aside-default-color:                       @skin-base-1000;
@aside-default-menu-color:                  @skin-base-1000;



//== listbox(select)
//
//##
@listbox-max-height:                 180px;
@listbox-max-width:                  350px;
@listbox-color:                      @skin-base-800;
@listbox-bg:                         #fff;
@listbox-border-color:               @skin-base-100;
@listbox-font-size:                  (@font-size-base - 1px);
@listbox-border-radius:              @border-radius-base;
@listbox-z-index:                    @zindex-dropdown;
@listbox-option-hover-bg:            @skin-accent-100;
@listbox-option-hover-color:         @skin-accent-700;
@listbox-option-active-bg:           @skin-base-active;
@listbox-option-active-color:        #fff;
@listbox-highlight-color:            @skin-base-active;

