@mixin box-shadow($shadow-prop...){
  -webkit-box-shadow: $shadow-prop;
          box-shadow: $shadow-prop;
}
@mixin transition($transition-prop...){
  -webkit-transition: $transition-prop;
       -o-transition: $transition-prop;
          transition: $transition-prop;
}

@mixin gradient-elipse($inner-color: #555,$outer-color: #333){
  background-image: -webkit-radial-gradient(center, ellipse cover, $inner-color, $outer-color);
  background-image: radial-gradient(ellipse at center, $inner-color, $outer-color);
  background-repeat: no-repeat;
}
@mixin gradient-elipse-button($inner-color: #555, $outer-color: #333){
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, $inner-color 0, $inner-color 50%, $outer-color 150%);
  background-image: radial-gradient(ellipse farthest-corner at center, $inner-color 0, $inner-color 50%, $outer-color 150%);
  background-repeat: no-repeat;
}
@mixin gradient-elipse-button-hover($inner-color: #555, $outer-color: #333){
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, $inner-color 0, $inner-color 60%, $outer-color 120%);
  background-image: radial-gradient(ellipse farthest-corner at center, $inner-color 0, $inner-color 60%, $outer-color 120%);
  background-repeat: no-repeat;
}

